<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="commandRoutes" type="Agile.Minimalist.Commanding.SectionHandler.CommandRouteSection, Agile.Minimalist.Commanding"/>
    </configSections>
    <appSettings>
      <add key="queueName" value=".\private$\PlayerQueue"/>
    </appSettings>

	<commandRoutes>
      <routes>
        <add command="CreatePlayer" routesToClass="Agile.Minimalist.Domain.Baseball.Player,Agile.Minimalist.Domain"></add>
        <add command="AddPlayerYear" routesToClass="Agile.Minimalist.Domain.Baseball.Player,Agile.Minimalist.Domain" usingMethod="AddPlayerYear"></add>
      </routes>
    </commandRoutes>

    <system.serviceModel>
      <services>
        <service name="Agile.Minimalist.Commanding.CommandHandler" behaviorConfiguration="CommandingBehavior">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8080/cqrsball/service"/>
            </baseAddresses>
          </host>
          <endpoint address="net.msmq://localhost/private/PlayerQueue" binding="netMsmqBinding" bindingConfiguration="customMsmqBinding" contract="Agile.Minimalist.Commands.ICommandHandler" behaviorConfiguration="EndpointConfiguration"/>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        </service>
      </services>

      <bindings>
        <netMsmqBinding>
          <binding name="customMsmqBinding" durable="true" exactlyOnce="true">
            <security mode="None"/>
          </binding>
        </netMsmqBinding>
      </bindings>

      <behaviors>
        <endpointBehaviors>
          <behavior name="EndpointConfiguration">
            <transactedBatching maxBatchSize="1"></transactedBatching>
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="CommandingBehavior">
            <serviceMetadata httpGetEnabled="True"></serviceMetadata>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
    <system.diagnostics>
      <sources>
        <source name="System.ServiceModel" propagateActivity="true" switchValue="Information, ActivityTracing">
          <listeners>
            <add name="traceListener" initializeData="c:\TraceCommandService.svclog" type="System.Diagnostics.XmlWriterTraceListener"/>
          </listeners>
        </source>
      </sources>
    </system.diagnostics>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>